<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IMS DOCS</title>
        <link rel="stylesheet" type="text/css" href="static/docs.css" />

        <link href="static/ico/light.ico" rel="icon" media="(prefers-color-scheme: light)">
        <link href="static/ico/dark.ico" rel="icon" media="(prefers-color-scheme: dark)">
    </head>
    <body>
        <!-- Hello World {{person}} -->
        <div id="swagger-ui"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/5.17.14/swagger-ui-bundle.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/5.17.14/swagger-ui-standalone-preset.js"> </script>
        <script src="static/docs.js"> </script>
    </body>
</html>